@model IEnumerable<Shop.Models.Entities.MenuCha>

@{
    ViewBag.Title = "MenuCha";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
    <div class="col-xs-6">
                  
    <div class="ui-jqgrid ui-widget ui-widget-content ui-corner-all" id="gbox_grid-table" style="width: 1124px;" dir="ltr">
                        <p>
                            @Html.ActionLink("Create New", "ViewADD")
                        </p>
                    @*phần bảng*@    
                        <table class="table">
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.idCha)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.TenMenuCha)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.isShow)
                                </th>
                                <th></th>
                            </tr>


                            @foreach (var item in Model)
                            {
                                using (Html.BeginForm("Delete", "Teacher", FormMethod.Post))
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.idCha)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.TenMenuCha)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.isShow)
                                        </td>
                                        <td>
                                            @Html.ActionLink("Edit", "ViewEdit", new { idCha = item.idCha }) |
                                            @*@Html.ActionLink("Details", "Details", new { idCha = item.idCha }) |*@
                                            @Html.ActionLink("Delete", "Delete", new { idCha = item.idCha })

                                        </td>
                                    </tr>
                                }





                            }




                        </table>
                            <!-- PAGE CONTENT ENDS -->
                        </div><!-- /.col -->

    </div><!-- /.row -->
      





