@model IEnumerable<Shop.Models.Entities.Product>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="col-xs-12">
    <h2>Index</h2>

    <p>
        @Html.ActionLink("Create New", "ViewADD")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayName("Name")
            </th>
            <th>
                @Html.DisplayName("Information")
            </th>
            <th>
                @Html.DisplayNameFor(model => model.oldPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.newPrice)
            </th>
            <th>
                @Html.DisplayName("Image")
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PromotionPD)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HotPD)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.active)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.datePost)
            </th>
            <th>
                @Html.DisplayName("species")
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TenPD)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Information)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.oldPrice)
                </td>
                <td>
                  
                        @Html.DisplayFor(modelItem => item.newPrice)
                  
                   
                </td>
                <td>
                    
                    <img src="@Url.Content(item.linkImage)" style="width:100px" />
                    @*@Html.DisplayFor(modelItem => item.linkImage)*@
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PromotionPD)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HotPD)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.active)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.datePost)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MenuCon.TenMenuCon)
                </td>
                <td>
                    @Html.ActionLink("Edit", "ViewEdit", new { idPD = item.idPD }) |
                    @*@Html.ActionLink("Details", "Details", new { idPD = item.idPD }) |*@
                    @Html.ActionLink("Delete", "Delete", new { idPD = item.idPD })
                </td>
            </tr>
        }

    </table>
   </div>