@using Shop.Models.Entities
@model Shop.Models.Entities.Product

@{
    ViewBag.Title = "ViewEdit";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    IEnumerable<Image> lst1 = (IEnumerable<Image>)ViewData["lstImg"];
    int dem = 0;
}
  <div class="col-xs-6">
    <h2>ViewEdit</h2>


    @using (Html.BeginForm("Edit", "Product", FormMethod.Post, new { @enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>Product</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.idPD)

            <div class="form-group">
                @Html.LabelFor(model => model.TenPD, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.TenPD, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.TenPD, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Information, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Information, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Information, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.oldPrice, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.oldPrice, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.oldPrice, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.newPrice, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.newPrice, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.newPrice, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.linkImage, htmlAttributes: new { @class = "control-label col-md-2" })
                @*chọn ảnh*@
                <div class="col-md-10">
                 


                    <div style="width:300px;	border:1px solid #dbdbdb;	border-radius:  3px;	margin:20px auto;	">
                        <script type="text/javascript">
                                 function inx(link) {
                                     var x = "aaa";
                                     document.getElementById("1").value =link ;

                            }
                        </script>
                        <div>
                            <input type="text" id="1" value="@Model.linkImage" style="margin-left:50px;margin-top:10px" name="linkImage">
                        </div>
                        <hr />
                      
                        @foreach (Image im in lst1)
                        {
                           
                            <img src="@Url.Content(im.linkImg)" id ="@im.idImg" value="" onclick="inx('@im.linkImg')" style="width:60px; height:60px;margin:4px;display:inline-block">                       
                            dem++;
                            if (dem % 4 == 0)
                            {
                                <br />
                            }
                        }
                    
                    </div>
                </div>
                @*hết chọn ảnh*@
                <h5 style="margin-left:170px">Upload new image</h5>
                 <div class="col-md-10">
                    <input type="file" name="fileUpLoad" value="ssssssssssss" src="ssssssssssss" resource="ssssssssssss" >
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.PromotionPD, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.PromotionPD, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.PromotionPD, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.HotPD, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.HotPD, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.HotPD, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.active, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.active)
                        @Html.ValidationMessageFor(model => model.active, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.datePost, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.datePost, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.datePost, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.idCon, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                     @Html.DropDownList("idCon")
                    @Html.ValidationMessageFor(model => model.idCon, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </div>
        </div>
    }

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
  <div>@ViewBag.msgEdit</div>
      </div>
