@model IEnumerable<Shop.Models.Entities.MenuCon>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="col-xs-12">

    <h2>Index</h2>

    <p>
        @Html.ActionLink("Create New", "ViewAdd")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TenMenuCon)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MenuCha.TenMenuCha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.isShow)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TenMenuCon)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MenuCha.TenMenuCha)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.isShow)
                </td>
                <td>
                    @Html.ActionLink("Edit", "ViewEdit", new { idCon = item.idCon }) |
                    @*@Html.ActionLink("Details", "Details", new { id = item.idCon }) |*@
                    @Html.ActionLink("Delete", "Delete", new { idCon = item.idCon })
                </td>
            </tr>
        }

    </table>
</div>