@model IEnumerable<Shop.Models.Entities.User>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.userName)
        </th>
       
        <th>
            @Html.DisplayNameFor(model => model.fullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.birthDay)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quyen)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.userName)
        </td>
     
        <td>
            @Html.DisplayFor(modelItem => item.fullName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.phone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.birthDay)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Quyền.TenQuyen)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.userName }) |
            @Html.ActionLink("Details", "Details", new { id=item.userName }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.userName })
        </td>
    </tr>
}

</table>
